{{! <div class="album py-5 bg-body-tertiary">
    <div class="container"> }}
<link rel="stylesheet" href="../css/card.css" />

<main id="product-wrap">

    <div class="row row-cols-1 row-cols-md-4 g-4 card-conteiner">
        {{#each productos}}
            <div class="col contenedor-relativo">
                <div class="card" onclick="redirectDetalle('{{this._id}}')">
                    <div class="card-img-top">
                        <img class="thumbnail-card" src="../pictures/{{this.thumbnail}}" alt="{{this.code}}" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <div style="display: flex;">
                            <h3 class="card-text">$ {{formatNumber this.price}}</h3>
                        </div>
                    </div>
                </div>
                <div class="add-cart-card" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="Agregar al Carrito." onclick="agregarCarrito('{{this._id}}')"><i class="bi bi-bag-plus"></i></div>
            </div>
        {{/each}}

    </div>

    <ul class="pagination">
        {{#if pagination.hasPrevPage}}
            <li class="page-item"><a id="btnPrev" class="page-link" href="{{pagination.prevLink}}">Previous</a></li>
        {{else}}
            <li class="page-item"><a id="btnPrev" class="page-link aDisable">Previous</a></li>
        {{/if}}
        {{#each links}}
            <li class="page-item"><a class="page-link" href="{{this.href}}">{{this.label}}</a></li>
        {{/each}}
        {{#if pagination.hasNextPage}}
            <li class="page-item"><a id="btnNext" class="page-link" href="{{pagination.nextLink}}">Next</a></li>
        {{else}}
            <li class="page-item"><a id="btnPrev" class="page-link aDisable">Next</a></li>
        {{/if}}

    </ul>

</main>

<script src="../js/funcionesHtmlProduct.js"></script>
<script src="/js/index.js"></script>