<div id="form-conteiner" style="width: 80%;height: 80%;margin: auto;padding: 3rem 0">
    <ul id="lista-product" style="display: flex;flex-direction: row;flex-wrap: wrap;gap: 1rem;">
        {{#each productos}}
            <div id="product-{{this.producId}}" class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio:{{this.price}}</p>
                    <p class="card-text">Stock:{{this.stock}}</p>
                </div>
                {{!-- <button type="button" class="btn btn-danger" onclick="borrarProducto('{{this.producId}}')">Delete</button> --}}
            </div>
        {{/each}}
    </ul>

</div>