<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Fakevi's</title>
        {{! <link data-react-helmet="true" rel="icon" type="image/png" href="https://levisarg.vteximg.com.br/arquivos/favicon-levis.png" /> }}

        {{! <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" /> }}
        {{#unless isLogIn}}
            {{! <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" /> }}
            {{! <link href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" /> }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {{/unless}}

        {{! <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> }}

        {{#if entorno}}

            <link rel="stylesheet" href="https://proyecto-backend-emanuel-m.onrender.com/css/main.css" />
            <link rel="stylesheet" href="https://proyecto-backend-emanuel-m.onrender.com/css/cart.css" />
            <link rel="stylesheet" href="https://proyecto-backend-emanuel-m.onrender.com/css/navBar.css" />
            <link rel="stylesheet" href="https://proyecto-backend-emanuel-m.onrender.com/css/variables.css" />
            <link rel="stylesheet" href="https://proyecto-backend-emanuel-m.onrender.com/css/stripe.css" />
            <script src="https://proyecto-backend-emanuel-m.onrender.com/socket.io/socket.io.js"></script>
        {{else}}
            <link rel="stylesheet" href="http://localhost:8080/css/main.css" />
            <link rel="stylesheet" href="http://localhost:8080/css/cart.css" />
            <link rel="stylesheet" href="http://localhost:8080/css/navBar.css" />
            <link rel="stylesheet" href="http://localhost:8080/css/variables.css" />
            <link rel="stylesheet" href="http://localhost:8080/css/stripe.css" />
            <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        {{/if}}

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
            integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

    </head>
    <body data-bs-spy="scroll" data-bs-target="#TableOfContents">

        {{#unless isLogIn}}
            <header>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="container-off-canvas">
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                <!-- <span class="navbar-toggler-icon"></span> -->
                                <span class="bi bi-list"></span>
                            </button>
                        </div>

                        <div class="container-navbar-brand">
                            <svg class="navbar-brand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 40" width="96" height="40">
                                <!-- Fondo rojo -->
                                <rect width="100%" height="100%" fill="#E41D33"></rect>

                                <!-- Texto "Levi's" en blanco -->
                                <text x="6" y="29" fill="#FFFFFF" font-family="Arial" font-size="23">Fakevi's</text>
                            </svg>
                        </div>

                        <div class="offcanvas offcanvas-start" tabindex="10" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dark offcanvas</h5>
                                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            {{#unless isLoged}}
                                <div class="offcanvas-footer">
                                    <ul class="navbar-nav me-auto mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/auth/login">REGISTRARME</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/auth/login">INICIAR SESIÓN</a>
                                        </li>
                                    </ul>
                                </div>
                            {{/unless}}
                            <div class="offcanvas-body">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/products">INICIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/products">PRODUCTOS</a>
                                    </li>
                                {{#if isAdmin}}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin">ADMIN</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/create">AGREGAR PRODUCTO</a>
                                    </li>
                                {{/if}}
                                </ul>
                            </div>
                        </div>

                        <div class="container-options container-options-nav">
                            {{#if isLoged}}
                                <div class="flex-shrink-0 dropdown">
                                    <div href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{! <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" /> }}
                                        <a class="user-dropdown">{{name}}</a>
                                    </div>
                                    <ul class="dropdown-menu text-small shadow" style="">
                                        <li><button class="dropdown-item" onclick="logOut()">Sign out</button></li>
                                        <li><button type="button" id="modal-peyment" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalUploadProfilePicture">Cargar Imagen Perfil</li>
                                    </ul>
                                </div>
                            {{else}}

                                <div class="offcanvas container-options">
                                    <a class="nav-link vertical-separator" href="/auth/login">REGISTRARME</a>
                                    <a class="nav-link" href="/auth/login">INICIAR SESIÓN</a>
                                </div>
                            {{/if}}

                            <button class="navbar-toggler navbar-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCartNavBar" aria-controls="offcanvasCartNavBar" aria-label="Toggle navigation">
                                <span class="bi bi-cart3"></span>
                            </button>

                        </div>
                    </div>
                </nav>
            </header>

            <div class="offcanvas offcanvas-end" tabindex="10" id="offcanvasCartNavBar" aria-labelledby="offcanvasCartNavBarLabel">
                <div class="offcanvas-header">
                    <div class="offcanvas-header-title">
                        <h5 class="offcanvas-title" id="offcanvasCartNavBarLabel">Carrito</h5>
                        {{! <button type="button" class="btn-close-cart" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-circle-fill"></i></button> }}
                        <button type="button" class="btn-close-cart bi bi-x-circle-fill" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-header-content">
                        <h6 class="cart-header-content-subtitle">PRODUCTO</h6>
                        <h6 class="cart-header-content-subtitle">SUBTOTAL</h6>
                    </div>
                </div>
                <div id="container-cart" class="container-cart">
                    {{#each cart}}
                        <div class="card-cart mb-3" id="card-cart-container-{{this._id}}">
                            <div class="row g-0" id="card-cart-{{this._id}}">
                                {{!-- <div class="container-img col-md-4" style="background-image: url(http://localhost:8080/pictures/{{this.thumbnail}})"> --}}
                                <div class="container-img col-md-3">
                                    <!-- <img class="cart-img" src="flaca.webp" alt="" /> -->
                                    <img class="cart-img" src="/pictures/{{this.thumbnail}}" alt="" />
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.title}}</h5>
                                        <div class="cart-card-description">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <button class="page-link" onclick="restProductCart('{{this._id}}')">
                                                        <span aria-hidden="true">-</span>
                                                    </button>
                                                </li>
                                                <li class="page-item"><input type="number" min="1" step="1" name="" value="{{this.quantity}}" id="cart-cont-{{this._id}}" data-cartValueId="{{this._id}}" class="page-link page-link-input" readonly /></li>
                                                <li class="page-item">
                                                    <button class="page-link" onclick="addProductCart('{{this._id}}')">
                                                        <span aria-hidden="true">+</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6>$ {{this.price}}</h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h4>$ {{formatNumber this.total}}</h4>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="container-details">
                    {{! <h2></h2> }}
                    <div style="display: flex; justify-content: center">
                        {{!-- <button class="btn btn-success" onclick="generarTicket('{{cartId}}')">Generar Ticket</button> --}}
                        {{! <button type="button" id="modal-peyment" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPasarelaPago">
                            Vertically centered modal
                        </button> }}
                        <button type="button" id="modal-peyment" class="btn btn-primary" onclick="payButton('{{cartId}}')">
                            {{! Agrega el texto que deseas mostrar dentro del botón }}
                            Pagar ahora
                        </button>
                    </div>
                    <h3 id="cart-total-price">{{totalCost}}</h3>
                </div>
            </div>
        {{/unless}}

        {{{body}}}

        {{#unless isLogIn}}
            <footer style="background: var(--var-first-color);padding:2rem;height: var(--footer-height);">
                <div>
                    <h4>NAVEGACION</h4>
                    <ul class="me-auto mb-2 mb-lg-0" style="list-style: none;padding: 0px;">
                        <li class="">
                            <a class="" href="/products">INICIO</a>
                        </li>
                        <li class="">
                            <a class="" href="/products">PRODUCTOS</a>
                        </li>
                        <li class="">
                            <a class="" href="/realtimeproducts">REAL-TIME</a>
                        </li>
                        <li class="">
                            <a class="" href="#">CONTACTOS</a>
                        </li>
                    </ul>
                </div>
            </footer>

        {{/unless}}

        <div class="modal fade" id="modalPasarelaPago" tabindex="-1" aria-labelledby="modalPasarelaPagoTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="payment-form" class="payment-form">
                        <div id="link-authentication-element">
                            <!--Stripe.js injects the Link Authentication Element-->
                        </div>
                        <div id="payment-element">
                            <!--Stripe.js injects the Payment Element-->
                        </div>
                        <button id="submit" class="btn btn-success">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pagar</span>
                        </button>
                        <div id="payment-message" class="hidden"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalUploadProfilePicture" tabindex="-1" aria-labelledby="modalUploadProfilePictureTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="upload-profile-pict" enctype="multipart/form-data">
                        <label for="file">Selecciona una imagen de perfil:</label>
                        <input type="file" id="profile-pict-file" name="file"  />
                        <br />
                        <label for="name">Nombre del archivo:</label>
                        <input type="text" id="profile-pict-name" name="name" />
                        <br />
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

    </body>

    {{! <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> }}
    {{! <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> }}
    {{! <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> }}

    {{! <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> }}


        {{#if entorno}}
            <script src="https://proyecto-backend-emanuel-m.onrender.com/js/main.js"></script>
        {{else}}
            <script src="http://localhost:8080/js/main.js"></script>
        {{/if}}


        <script src="https://js.stripe.com/v3/"></script>
    {{#unless isLogIn}}
        {{#if entorno}}
            <script src="https://proyecto-backend-emanuel-m.onrender.com/js/stripe.js"></script>
            <script src="https://proyecto-backend-emanuel-m.onrender.com/js/funcionesCart.js"></script>
        {{else}}
            <script src="http://localhost:8080/js/stripe.js"></script>
            <script src="http://localhost:8080/js/funcionesCart.js"></script>
        {{/if}}
    {{/unless}}
        


    <script>

        function enviarArchivo() {
            const form = document.querySelector('#upload-profile-pict');

            const formData = new FormData(form);
            console.log("FormData", formData);

            fetch('http://localhost:8080/upload-profile-picture', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    console.log('Archivo enviado exitosamente');
                    // Manejar la respuesta del servidor
                } else {
                    console.error('Error al enviar el archivo');
                    // Manejar errores de la solicitud
                }
            })
            .catch(error => {
                console.error('Error al enviar el archivo', error);
                // Manejar errores de la solicitud
            });
        }
    </script>

</html>
